* {
        color:darkblue;
}

h2 {
    margin: 15px;
}

p {
    padding: 15px;
}

.light-background {
    background-color: rgb(0,255,0)
}

.text-white {
    color: whitesmoke;
}

.round-element {


}
