body {
    background-color: black;
}

header{
    outline-style: double;
    padding-left: 850px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(9,62,121,0.44861694677871145) 35%, rgba(34,120,138,1) 100%);
  
}
li {
    list-style-type: none;
}

section {
    padding-left: 50px;
    outline-style: double;
    background-color: rgb(2,0,36);
    color: black;
    

}

section {
    outline-style: double;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: black;
}

img {
    padding-left: 600px;
    padding-top: 50px;
    border-radius: 25%

}

p {
    color:black;
    padding: 15px
}

h2 {
    padding-left: 750px;
    outline-style: groove;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(9,62,121,0.44861694677871145) 35%, rgba(34,120,138,1) 100%); 
}

table {
    padding-left: 20px;
    outline-style: groove;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(255,255,255);
    background-color: lightslategray;
    color: lightblue;
    margin-left: 800px;

}

footer {
    outline-style: double;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,105,1) 35%, rgba(0,212,255,1) 100%);
}



